.name {
    background-color: teal;
    text-align: center;
    color: white;
    
}
#container {
    box-sizing: border-box;
    background-color: tomato;

}
.header{
    border-bottom: 4px solid black;
}
#container-contact {
    box-sizing: border-box;
    background-color:white;
    color: white;

}
.about-me-box{
    background-color:blue;
    height: 650px;
    width: 200px;
}
.profile-pic{
    float: right;

}
.bio_box{
    background-color: cornflowerblue;
    width: 80%;
    height: 70%;
    padding:10px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 70px;
}
.footer{
    text-align: center;
    background-color: darkgreen;
    height: 70px;
    display: block;
}

 .inner_footer{
     background-color: white;

}